@use 'sass:math';
@use 'sass:map';

$breakpoints: (
    'small': math.div(375, 16) * 1rem,
    'medium': math.div(750, 16) * 1rem,
    'large': math.div(1200, 16) * 1rem,
);

@mixin breakpoint($size) {
    @media (width >=map.get($breakpoints, $size)) {
        @content;
    }
}

.util--hidden {
    visibility: hidden;
}

.util--visible {
    visibility: visible;
}

.util--end {
    align-self: flex-end;
}

.util--start {
    align-self: flex-start;
}
