---
import "../global.css";

import Projects from "../components/projects.astro";
import Skills from "../components/skills.astro";
import Link from "../layouts/link.astro";
import SocialData from "../components/social-data.astro";
import Footer from "../components/footer.astro";

import mobileProfileImage from "../assets/images/image-profile-mobile.webp";
import tabletProfileImage from "../assets/images/image-profile-tablet.webp";
import desktopProfileImage from "../assets/images/image-profile-desktop.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Single Page Developer Portfolio</title>
  </head>
  <body>
    <main>
      <div
        class="ornament ornament--rings ornament--circle ornament--presentation"
      >
        <div class="presentation">
          <div class="grid grid--floating">
            <SocialData  floating={true} />
          </div>

          <img
            class="presentation__image presentation__image--mobile"
            src={mobileProfileImage.src}
            alt="Profile Image"
            width="174"
            height="383"
          />

          <img
            class="presentation__image presentation__image--tablet"
            src={tabletProfileImage.src}
            alt="Profile Image"
          />

          <img
            class="presentation__image presentation__image--desktop"
            src={desktopProfileImage.src}
            alt="Profile Image"
            width="445"
            height="720"
          />

          <div class="presentation__text">
            <h1 class="text-display color-white">
              Nice to meet you! I'm
              <span class="text-display--highlighted"> Roswell Pando</span>.
            </h1>

            <p class="text-body color-grey">
              Based in the UK, I'm a front-end developer passionate about
              building accessible web apps that users love.
            </p>

            <Link link="#footer"> contact me </Link>
          </div>
        </div>
      </div>

      <div class="ornament ornament--skills ornament--rings">
        <div class="grid">
          <Skills />
        </div>
      </div>

      <div class="grid">
        <Projects />
      </div>
    </main>
    <Footer />
  </body>
</html>
