---
import ContactForm from "./contact-form.astro";
import SocialData from "./social-data.astro";
---
<footer id="footer" class="footer ornament ornament--rings ornament--footer">
  <div class="grid">
    <div class="grid__item">
      <ContactForm />
      <SocialData />
    </div>
  </div>
</footer>
