---
import Skill from "./skill.astro";
---

<div class="grid__item skills">
  <Skill tech="HTML" experience="3 Years Experience" />
  <Skill tech="CSS" experience="3 Years Experience" />
  <Skill tech="Javascript" experience="3 Years Experience" />
  <Skill tech="Accessibility" experience="2 Months Experience" />
  <Skill tech="React" experience="2 Year Experience" />
  <Skill tech="Sass" experience="2 Years Experience" />
  <Skill tech="NextJS" experience="1 Years Experience" />
  <Skill tech="Astro" experience="1 Years Experience" />
  <Skill tech="Python" experience="4 Years Experience" />
  <Skill tech="Fastapi" experience="2 Years Experience" />
  <Skill tech="PostgreSQL" experience="2 Years Experience" />
  <Skill tech="MongoDB" experience="2 Years Experience" />
</div>
