---
import Skill from "./skill.astro";
---
<div class="grid__item skills">
  <Skill tech="HTML" experience="4 Years Experience" />
  <Skill tech="CSS" experience="4 Years Experience" />
  <Skill tech="Javascript" experience="4 Years Experience" />
  <Skill tech="Accessibility" experience="4 Years Experience" />
  <Skill tech="React" experience="3 Years Experience" />
  <Skill tech="Sass" experience="3 Years Experience" />
</div>
