@use '../utils/' as u;

.footer {
    padding: 6rem 0rem;
    background-color: var(--dark-grey);

    @include u.breakpoint(medium) {
        padding-bottom: 4rem;
    }
}

.contact-form {
    margin-bottom: 3.9rem;
    padding: 0rem 0rem 8.7rem 0rem;
    border-bottom: 0.1rem solid var(--white);
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include u.breakpoint(medium) {
        margin-bottom: 3rem;
        padding-bottom: 9.2rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 1.9rem;
        row-gap: 4.8rem;
    }

    @include u.breakpoint(large) {
        margin-bottom: 4.7rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 3rem;
    }

    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        @include u.breakpoint(medium) {
            grid-column: 2 / 8;
            margin: 0rem 4rem;
        }

        @include u.breakpoint(large) {
            margin: unset;
            grid-column: 1 / 6;
            text-align: justify;
            align-items: flex-start;
            gap: 3.6rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        @include u.breakpoint(medium) {
            grid-column: 2 / 8;
            margin: 0rem 4rem;
        }

        @include u.breakpoint(large) {
            margin: unset;
            grid-column: 8 / 13;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.input-text {
    outline: none;
    border: none;
    padding: 0rem 2.4rem 1.7rem 2.4rem;
    border-bottom: 0.1rem solid var(--white);
    background-color: var(--dark-grey);
    transition: all 0.3s ease-out;

    &:focus {
        border-bottom: 0.1rem solid var(--green);
    }

    &--error {
        border-bottom: 0.1rem solid var(--error);
    }
}